<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
      <th>Mark Correct Answers</th>
      <th>View Live Updates</th>
      <th>Share Url</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><% if not game.locked %><%= link_to 'Edit', edit_game_path(game) %><% end %></td>
        <td><%= link_to 'Delete', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% if not game.locked then %>
          <td><%= link_to 'Lock', lock_game_path(game), method: :post, data: {confirm: 'Are you sure? You cannot unlock the game! Only do this when you are finished editing the game.'} %></td>
        <% else %>
          <td>Locked</td>
        <% end %>

        <td><% if game.locked then %><%= link_to 'Play', play_game_path(game) %><% end %></td>
        <td><% if game.locked then %><%= link_to 'Live', live_game_path(game) %><% end %></td>
        <td>
          <% if game.locked then %>
          Game in progress!
          <% else %>
            <%= link_to "#{request.base_url}/submissions/new?code=#{game.code}", "#{request.base_url}/submissions/new?code=#{game.code}", target: :blank %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
